<table class="table table-condensed sortable">
	<thead>
		<tr>
			<th data-defaultsign="_19" class="hidden-xs" colspan="2">{{trans('list.id')}}</th>
			<th data-defaultsign="az">{{ trans('list.employee') }}</th>
			<th data-defaultsign="month" class="hidden-xs">{{ trans('list.date') }}</th>
			<th data-defaultsign="_19" class="hidden-xs">{{trans('list.amount')}}</th>
			<th class="hidden-xs">{{ trans('list.currency') }}</th>
			<th class="hidden-xs">{{ trans('list.paid_with') }}</th>
			<th class="hidden-xs">{{ trans('list.category') }}</th>
			<th class="hidden-xs">{{ trans('list.attachment') }}</th>
			<th class="hidden-xs">{{ trans('list.status') }}</th>
		</tr>
	</thead>
</table>
