<table class="table table-condensed sortable">
	<thead>
        <tr>
            {% if showCategory or showBudget %}
                <td colspan="8" class="no-margin-pagination">{{ groups.render|raw }}</td>
            {% else %}
                <td colspan="7" class="no-margin-pagination">{{ groups.render|raw }}</td>
            {% endif %}
            {# <td colspan="1">
                <div class="pull-right">
                    <input id="list_ALL" value="1" name="select-all" type="checkbox" class="select-all form-check-inline"/>
                </div>
            </td> #}
        </tr>
		<tr>
			<th data-defaultsign="_19" class="hidden-xs" colspan="1">{{trans('list.id')}}</th>
			<th data-defaultsign="az">{{ trans('list.employee') }}</th>
			<th data-defaultsign="month" class="hidden-xs">{{ trans('list.date') }}</th>
			<th data-defaultsign="_19" class="hidden-xs">{{trans('list.amount')}}</th>
			{# <th class="hidden-xs">{{ trans('list.currency') }}</th> #}
			<th class="hidden-xs">{{ trans('list.paid_with') }}</th>
			<th class="hidden-xs">{{ trans('list.category') }}</th>
			<th class="hidden-xs">{{ trans('list.attachment') }}</th>
			<th class="hidden-xs">{{ trans('list.status') }}</th>
            <th class="hidden-xs"></th>

		</tr>
	</thead>
    <tbody>
    {% for group in groups %}
        {# {% if group.count > 1 %}
            <tr style="border-top:1px #aaa solid;">
                <td colspan="2" style="border-top:1px #aaa solid;">
                    <small>
                        <strong>
                            <a href="{{ route('transactions.show', [group.id]) }}" title="{{ group.title }}">{{ group.title }}</a>
                        </strong>
                    </small>
                </td>
                <td colspan="2" style="border-top:1px #aaa solid;">
                    {% for sum in group.sums %}
                        {% if group.transaction_type == 'Deposit' %}
                            {{ formatAmountBySymbol(sum.amount*-1, sum.currency_symbol, sum.currency_decimal_places) }}
                            {% if loop.index != group.sums|length %},
                            {% endif %}
                        {% elseif group.transaction_type == 'Transfer' %}
                            <span class="text-info">
                                {{ formatAmountBySymbol(sum.amount*-1, sum.currency_symbol, sum.currency_decimal_places, false) }}
                                {% if loop.index != group.sums|length %},
                                {% endif %}X
                            </span>
                        {% else %}
                            {{ formatAmountBySymbol(sum.amount, sum.currency_symbol, sum.currency_decimal_places) }}
                            {% if loop.index != group.sums|length %},
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- column to span accounts + extra fields -->
                {% if showCategory or showBudget %}
                    <td style="border-top:1px #aaa solid;" colspan="3">&nbsp;</td>
                {% else %}
                    <td style="border-top:1px #aaa solid;" colspan="2">&nbsp;</td>
                {% endif %}
                <td style="border-top:1px #aaa solid;">
                    <div class="btn-group btn-group-xs pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'actions'|_ }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="{{ route('transactions.edit', [group.id]) }}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    {{ 'edit'|_ }}</a>
                            </li>
                            <li>
                                <a href="{{ route('transactions.delete', [group.id]) }}">
                                    <i class="fa fa-fw fa-trash"></i>
                                    {{ 'delete'|_ }}</a>
                            </li>
                            <li>
                                <a href="{{ route('transactions.clone', [group.id]) }}">
                                    <i class="fa fa-copy fa-fw"></i>
                                    {{ 'clone'|_ }}</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td style="border-top:1px #aaa solid;">&nbsp;</td>
            </tr>
        {% endif %} #}
        {% for index, transaction in group.transactions %}
            {% set style="" %}
            {% if group.transactions|length == loop.index and group.count > 1 %}
                {% set style="border-bottom:1px #aaa solid;" %}
            {% endif %}
            <tr data-date="{{ transaction.date.format('Y-m-d') }}">
                {# ICON #}
                {# <td style=" {{ style|raw }}">
                    <i class="fa fa-long-arrow-left fa-fw" title="{{ trans('firefly.Withdrawal') }}"></i>
                </td> #}
                {# Status & ID #}
                <td style=" {{ style|raw }}">
                    {% if transaction.reconciled %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                    {% if group.count == 1 %}
                        {# <a href="{{ route('transactions.show', [group.id]) }}" title="{{ transaction.description }}"> #}
                        {% endif %}
                        {# {{ transaction.description }} #}
                        {{ transaction.transaction_journal_id }}
                        {% if group.count == 1 %}
                        {# </a> #}
                    {% endif %}
                </td>
                {# Employee #}
                <td style=" {{ style|raw }}">{{transaction.email}}</td>
                {# Date #}
                <td style=" {{ style|raw }}">
                    {{ transaction.date.formatLocalized(monthAndDayFormat) }}
                </td>
                {# Amount #}
                <td style=" {{ style|raw }}">
                    {{ formatAmountBySymbol(transaction.amount, transaction.currency_symbol, transaction.currency_decimal_places) }}
                    {% if null != transaction.foreign_amount %}
                        ({{ formatAmountBySymbol(transaction.foreign_amount, transaction.foreign_currency_symbol, transaction.foreign_currency_decimal_places) }})
                    {% endif %}
                </td>
                {# Source Account #}
                <td style=" {{ style|raw }}">
                    {# <a href="{{ route('accounts.show', [transaction.destination_account_id|default(1)]) }}" title="{{ transaction.destination_account_iban|default(transaction.destination_account_name) }}">{{ transaction.destination_account_name }}</a> #}
                    {{ transaction.source_account_name }}
                </td>
                {# Dest Account #}
                {# <td style=" {{ style|raw }}">
                    <a href="{{ route('accounts.show', [transaction.source_account_id|default(1)]) }}" title="{{ transaction.source_account_iban|default(transaction.source_account_name) }}">{{ transaction.source_account_name }}</a>
                </td> #}
                <td style=" {{ style|raw }}">
                    {% if transaction.category_id %}
                        {# <a href="{{ route('categories.show', [transaction.category_id]) }}" title="{{ transaction.category_name }}">{{ transaction.category_name }}</a> #}
                        {{ transaction.category_name }}
                    {% endif %}
                </td>
                <td style=" {{ style|raw }}">
                    {% if transaction.attachments|length > 0 %}
                        <i class="fa fa-paperclip"></i>
                        {# <a href={{ route('attachments.review', transaction.attachment_id) }} target="_blank">{{'view_attachment'|_}}</a> #}
<a class="attach" style="cursor: pointer;" data-route="{{ route('attachments.review', transaction.attachment_id) }}">
	{{'view_attachment'|_}}
</a>


                        {# <a href="#" id="attach" data-route="{{ route('attachments.review', transaction.attachment_id) }}" data-target="#attachModal" >
                        {{'view_attachment'|_}}</a> #}
{# <a href="javascript:article open('{{ route('attachments.review', transaction.attachment_id) }}')">{{'view_attachment'|_}}</a> #}


                    {% endif %}
                </td>

                {# {% if showBudget %}
                    <td style=" {{ style|raw }}">
                        {% if transaction.budget_id %}
                            <a href="{{ route('budgets.show', [transaction.budget_id]) }}" title="{{ transaction.budget_name }}">{{ transaction.budget_name }}</a>
                        {% endif %}
                    </td>
                {% endif %} #}
                <td style=" {{ style|raw }};">
                    <a id="status_{{transaction.transaction_journal_id}}">
                        {{transaction.status_name}}
                    </a>
                </td>

                {% if group.count == 1 %}
                    <td style=" {{ style|raw }};">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'actions'|_ }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                {% for statu in status %}
                                    <li>
                                        <a class="statusAction">
                                            <div id="transid" value={{transaction.transaction_journal_id}} hidden> </div>
                                            <div id="statuid" value={{statu.id}} hidden> </div>
                                            {# <i class="fa fa-fw fa-pencil"></i> #}
                                            {{ statu.status }}
                                        </a>
                                    </li>
                                    {# <option label="{{statu.status}}" value={{statu.id}}>{{ statu.status}}</option> #}
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                {% endif %}
                {# {% if group.count != 1 %}
                    <td style=" {{ style|raw }};">
                        &nbsp;
                    </td>
                {% endif %} #}
                {# <td style="{{ style|raw }}">
                    <div class="pull-right">
                        <input id="list_{{ transaction.transaction_journal_id }}" value="{{ transaction.transaction_journal_id }}" name="journals[{{ transaction.transaction_journal_id }}]" type="checkbox" class="mass-select form-check-inline" data-value="{{ transaction.transaction_journal_id }}"/>
                    </div>
                </td> #}
            </tr>
        {% endfor %}


    {% endfor %}</tbody>
    <tfoot>
    <tr>
        <td colspan="8">
            <div
                class="pull-right">
                <!-- Single button -->
                <div class="btn-group action-menu" style="display:none;">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'actions'|_ }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" class="mass-edit">
                                <i class="fa fa-fw fa-pencil"></i>
                                <span>{{ 'mass_edit'|_ }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bulk-edit">
                                <i class="fa fa-fw fa-pencil-square-o"></i>
                                <span>{{ 'bulk_edit'|_ }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mass-delete">
                                <i class="fa fa-fw fa-trash"></i>
                                <span>{{ 'mass_delete'|_ }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        {% if showCategory or showBudget %}
            <td colspan="9" class="no-margin-pagination">{{ groups.render|raw }}</td>
        {% else %}
            <td colspan="8" class="no-margin-pagination">{{ groups.render|raw }}</td>
        {% endif %}
    </tr>
    </tfoot>
</table>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="attachModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			{# <div class="modal-header">
				<h4 class="modal-title" id="attachTitle">&nbsp;</h4>
			</div> #}
			<div class="modal-body" id="attachBody">
            </div>
            <iframe id="iframeBody" width="800" height="800"></iframe>

			{# <div class="modal-footer">
				<small class="pull-left">
					{{ 'need_more_help'|_ }}
				</small>
				<br/>
				<small class="pull-left">
					{{ trans('firefly.reenable_intro_text')|raw }}
				</small>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
			</div> #}
		</div>
	</div>
</div>

